.cabin {
  font-family: "Cabin", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}
.navbar-links-container a {
  display: inline-block; 
  padding: 0.5rem 1rem; 
  border: 2px solid black; 
  border-radius: 5px;
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}
.TitleDev{
  text-align: start;
  font-size: 2rem; 
  color: #7CB9E8;
  font-weight: bold;
  margin-left: 50px
}
.background{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.navbar-links-container button {
  cursor: pointer;
  display: inline-block; 
  padding: 0.5rem 1rem; 
  border: 2px solid black; 
  border-radius: 5px;
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #7CB9E8;
}